html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  display: block;
}

/* header */
#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.siteTitle h1 {
  font-size: 19px;
  margin: 0;
  height: 30px;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
  margin: 0px;
}
#navi ul {
  display: block;
}
#navi li {
  margin-bottom: 14px;
  list-style: none;
  display: list-item;
}
.toggleBtn {
  width: 30px;
  height: 30px;
  position: relative;
  left: 540px;
  align-items: center;
  transition: all 0.5s;
  z-index: 20;
  padding: 0px;
  margin: 0;
}
.toggleBtn span:nth-child(1) {
  top: 10px;
}
.toggleBtn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}

/* main */
.content {
  padding-top: 120px;
  padding-bottom: 160px;
}
h1.pageTitle {
  font-size: 0.875rem;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 0px;
}
.productList  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productList img {
  width: 290px;
  height: 290px;
  margin-bottom: 10px;
  vertical-align: top;
}
ul.productList {
  padding: 0;
  margin: 0;
}
.productList li {
  list-style: none;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
.productList p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  color: #333;
}
.paginetion {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #333;
}
.paginetion li {
  padding: 0 20px;
  list-style: none;
  font-size: 13.5px;
}
.paginetion a {
  color: #333;
}

/* footer */
#footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
  left: 0;
  right: 0;
}
#footer .menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu li {
  font-size: 0.75rem;
  margin-right: 30px;
  padding: 0;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #333;
}
#footer p {
  margin: 0;
  font-size: 0.5rem;
  color: #333;
}

/* about */
#about {
  max-width: 600px;
}
#about p {
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 1.9;
  margin-bottom: 30px;
}
/* company */
#company {
  max-width: 600px;
}
.info {
  font-size: 0.875rem;
  font-weight: lighter;
  color: #333;
}
#company dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}
#company dt {
  width: 160px;
  border-bottom: 1px solid #dcdbdb;
  padding: 20px 10px;
}
#company dt:last-of-type {
  border-bottom: none;
}
#company dd {
  width: 400px;
  border-bottom: 1px solid #dcdbdb;
  padding: 20px 10px;
  margin-left: 0px;
}
#company dd:last-of-type {
  border-bottom: none;
}
#company .map {
  filter: grayscale(1);
}
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
