html {
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
}

/* header */
.siteTitle {
  width: 100%;
  height: 70px;
  font-weight: lighter;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1200px;
}
#navi {
  background-color: #333;
  list-style: none;
  display: block;
  color: #fff;
  height: 40px;
}
#navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1200px;
}
#navi li {
  list-style: none;
  padding: 10px 60px 10px 0px;
}
#navi li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/*  */
#pickUp {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 60px;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
#pickUp img {
  width: 370px;
  height: 200px;
}
article img {
  width:  100%;
}
article h2 {
  width: 375px;
  font-size: 16px;
}
.readMore {
  text-align: center;
}
.readMore a {
  font-size: 14px;
  color: #333;
  text-decoration: underline;
}

/* container */
#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
main {
  width: 65%;
  display: block;
}
.articleTitle {
  font-size: 1.5em;
  margin: 0px;
}
.articleTitle a {
  margin: 0;
  width: 65%;
  color: #333;
  text-decoration: none;
}
.meta {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  top: 10px;
}
.meta li {
  font-size: 0.9em;
  margin-right: 20px;
  margin-bottom: 10px;
}
article img {
  width: 780px;
  height: 430px;
}
.mainimgText {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin: 0;
  width: 700px;
}

/*  */
#sideBar {
  width: 30%;
  padding: 20px;
}
.author {
  text-align: center;
  margin-bottom: 60px;
}
.author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.sideTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
h3.sideTitle {
  text-align: center;
}
main article {
  margin-bottom: 80px;
}
article {
  margin-bottom: 30px;
}
article a {
  text-decoration: none;
}
h4.articleTitle {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: normal;
  color: #333;
}
.profileText {
  text-align: left;
  font-size: 0.9rem;
}
.ranking img {
  width: 100%;
  height: 13%;
}
.archive ul {
  border-bottom: solid 1px #777;
  margin: 0;
  padding: 0;
}
.archive li {
  font-size: 0.8rem;
  border-top: solid 1px #777;
  padding: 20px;
  text-align: left;
  list-style: none;
}
.archive a {
  text-decoration: none;
  color: #333;
}

/* footer */
#footer {
  font-size: 0.9rem;
  background-color: #f7f7f7;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .wrapper {
  max-width: 1200px;
  padding: 0 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}
section.item {
  width: 30%;
}
.item p {
  display: block;
}
h3.footerTitle {
  margin-bottom: 30px;
  margin-top: 0;
}
#footer ul.aboutList {
  margin: 20px 0;
  padding: 0;
}
#footer li {
  list-style: none;
}
#footer a.arrow {
  text-decoration: none;
  padding-left: 0px;
  color: #333;
}
.menuList {
  border-bottom: solid 1px #777;
  padding: 0;
}
.menuList li {
  padding: 15px;
  text-align: left;
  border-top: solid 1px #777;
}
.menuList a {
  text-decoration: none;
  color: #333;
}
.copyRight {
  text-align: center;
}
p.copyRight {
  font-size: 0.7rem;
  padding: 10px 0;
  margin: 0;
}
